.gef_namecss
{
    width: 300px;
    margin-inline: 70px;
}
.gef_empcss
{
    width: 300px;
    margin-inline: 145px;
}
.gef_deptcss
{
    width: 300px;
    margin-inline: 148px;
}
.gef_designationcss
{
    width: 300px;
    margin-inline: 148px;
}
.gef_emailcss
{
    width: 300px;
    margin-inline: 85px;
}
.gef_mobcss
{
    width: 300px;
    margin-inline: 152px;
}
.gef_typecss
{
    width: 300px;
    margin-inline: 101px;
}
.gpf_parentnamecss
{
    width: 300px;
    margin-inline: 100px;
}
.gpf_studentnamecss
{
    width: 300px;
    margin-inline: 89px;
}
.gpf_regcss
{
    width: 300px;
    margin-inline: 48px;
}
.gpf_emailselfcss
{
    width: 300px;
    margin-inline: 136px;
}
.gpf_emailstudentcss
{
    width: 300px;
    margin-inline: 23px;
}
.gpf_mobselfcss
{
    width: 300px;
    margin-inline: 115px;
}
.gpf_mobstudentcss
{
    width: 300px;
    margin-inline: 89px;
}
.gpf_typecss
{
    width: 300px;
    margin-inline: 106px;
}
.gsf_studentnamecss
{
    width: 300px;
    margin-inline: 102px;
}
.gsf_stu_regcss
{
    width: 300px;
    margin-inline: 129px;
}
.gsf_deptcss
{
    width: 300px;
    margin-inline: 165px;
}
.gsf_programmecss
{
    width: 300px;
    margin-inline: 170px;   
}
.gsf_semcss
{
    width: 300px;
    margin-inline: 187px;   
}
.gsf_emailcss
{
    width: 300px;
    margin-inline: 104px;   
}
.gsf_mobcss
{
    width: 300px;
    margin-inline: 174px;
}
.gsf_typecss
{
    width: 300px;
    margin-inline: 123px;
}